
@{
    ViewBag.Title = "Add Record";
}

<h2>Add Record</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">            
            <label>Record Locator</label>
            <input id="recordLocator" type="text"  />            
        </div>        
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Passenger</label>
            <input id="passenger" type="text" />            
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">           
            <input type="submit" id="addRecord" disabled  />
        </div>
    </div> 
    <div class="row">
        <div class="col-md-4">
            <label id="addResult"></label>
            
        </div>
    </div>
</div>

