
@{
    ViewBag.Title = "DisplayRecord";
}

<h2>Search Result</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">           
            <input id="search" type="text" />
            <input type="submit" id="searchRecord"  />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div id="recordResult">
               
            </div>            
        </div>        
    </div>

    <div class="row">
        <div class="col-md-4">

            <input type="submit" value="Download" id="downloadRecord" />
        </div>
    </div></div>


